# SPDX-License-Identifier: Apache-2.0
#
# Project: Ecli
# File: .dockerignore
# Website: https://www.ecli.io
# Repository: https://github.com/SSobol77/ecli
# PyPI: https://pypi.org/project/ecli-editor/0.0.1/
#
# Copyright (c) 2026 Siergej Sobolewski
#
# Licensed under the Apache License, Version 2.0.
# See the LICENSE file in the project root for full license text.

# Git
.git/
.github/
.gitignore

# Python
__pycache__/
*.pyc
.venv/
.uv/
.mypy_cache/
.pytest_cache/

# Build artifacts
build/
dist/
releases/
*.egg-info/

# IDE / OS
.vscode/
.idea/
*.log
.DS_Store

# Frontend (если есть)
node_modules/
