[Desktop Entry]
Version=1.0
Name=ECLI
Comment=A fast terminal code editor
Exec=ecli
Icon=ecli
Terminal=true
Type=Application
Categories=Development;TextEditor;
Keywords=editor;terminal;tui;devops;
